<% if coach_signed_in? %>
	<%= simple_nested_form_for @team, defaults: { input_html: { class: 'form-control' } } do |f| %>
		<% if @team.errors.any? %>
	    <% @team.errors.messages.each do |attr, msg| %>
        <% msg.each do |val| %>
        	<li class="error"><%= val %></li>
        <% end %>
      <% end %>
	  <% end %>
		<%= f.association :sport %>
	  <%= f.input :team_name %>
	  <%= f.input :team_status %>
	  <%= f.input :total_players, as: :hidden, input_html: { value: "", class: 'total_players' } %>
		<%= f.input :team_logo, :as => :file, :hint => f.object.team_logo.present? \
	      ? image_tag(f.object.team_logo.url(:medium))
	      : content_tag(:span, "no image yet") %>
	  <%= f.simple_fields_for :playings do |p| %>
	  <div class="panel panel-primary" style="width: 40%;">
		  <div class="panel-heading">
		  	Player
		  	<p class="pull-right"> <%= p.link_to_remove "Remove this Player", style: 'color: white' %> </p>
		  </div>
		  <div class="panel-body">
		  	<div class="container">
					<div class="row">
					  	<%= p.input :player_id, as: :select, collection: current_coach.players.all.map { |r| [r.full_name, r.id] }, prompt: 'Select Player', input_html: { style: 'width: 30%;border-color: black' } %>
					  	<%= p.input :sport_id, as: :hidden, input_html: { value: "", class: 'playing_sport_id'} %>
					</div>
				</div>
		  </div>
		</div>
		<% end %>
	  <p><%= f.link_to_add "Add a player", :playings %></p>
	  <%= f.button :submit, id: 'submit' %>
	<% end %>
<% end %>

<script type="text/javascript">
	$('#team_sport_id').on('change', function() {
		sport_id = this.value
	  $('.playing_sport_id').each(function(){
		  $(this).val(sport_id);
		});
	});

	$(document).on('click', '.remove_nested_fields', function() {
		var count = $('.total_players').val()
		count = parseInt(count) - 1
		$('.total_players').val(count)
	})

	$('.add_nested_fields').on('click', function() {
		var count = $('.total_players').val()
		count = parseInt(count) + 1
		$('.total_players').val(count)
	})

	$(document).ready(function() {
    var sport_id = $("#team_sport_id").val()
    $('.playing_sport_id').each(function(){
		  $(this).val(sport_id);
		});
		var total_players = $('.panel').length
		$('.total_players').val(total_players)
	});

	$(document).ready(function() {
    $('.simple_form').submit(function() {
		  var sport_id = $("#team_sport_id").val()
	    $('.playing_sport_id').each(function(){
			  $(this).val(sport_id);
			});
		});
	});
</script>