<%= form_for @team do |f| %>
  <%= f.text_field :team_name %>
  <%= f.text_field :team_status %>
	<%= f.file_field :team_logo, :as => :file, :hint => f.object.team_logo.present? \
      ? image_tag(f.object.team_logo.url(:medium))
      : content_tag(:span, "no image yet") %>
  
  <%= f.fields_for :players do |p| %>
  	<%= p.text_field :first_name %>
  	<%= p.text_field :last_name %>
  	
    <%= p.link_to_remove "Remove this Player" %>
  <% end %>
  <p><%= f.link_to_add "Add a Player", :players %></p>
  <%= f.button :submit %>
<% end %>