<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">Tournament</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="<%= teams_path %>">Teams</a></li>
        <% if coach_signed_in? %>
          <li><a href="<%= my_team_teams_path %>">My Teams</a></li>
          <li><a href="<%= players_path %>">My Players</a></li>
          <li><a href="<%= new_team_path %>">Create Team</a></li>
          <li><a href="<%= new_player_path %>">Create Player</a></li>
        <% end %>
      </ul>
      <% if !coach_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="<%= new_coach_session_path %>">Login</a></li>
          <li><a href="<%= new_coach_registration_path %>">Sign up</a></li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li> <a href="#"> <strong> Welcome <%= current_coach.email %> </strong> </a> </li>
          <li> <%= link_to 'Logout', destroy_coach_session_path, method: :delete %> </li>
          <li><a href="<%= edit_coach_registration_path %>">Profile</a></li>
        </ul>
      <% end %>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>